# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
media
*.DS_Store
.Rhistory

# Backup data #
*.bak

# PyCharm #
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

static/samples/
Rplots.pdf
celerybeat-schedule

*/migrations/*