{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">Funding</h3>
        <hr>
        <div><b>This work is supported by:</b></div>
        <div>
            <ul>
                <li>The Spanish Government [Instituto de Salud Carlos III]</li>
                <li>The Fundació La Marató de TV3 (<a href="https://www.ccma.cat/tv3/marato/en/fundacio/" target="_blank">https://www.ccma.cat/tv3/marato/en/fundacio/</a>)</li>
                <li>Association of families and friends of patients with Neuroblastoma (NEN association)</li>
                <li>Barcelona Sant Joan de Déu Children’s Hospital: <a href="https://www.sjdhospitalbarcelona.org/en" target="_blank">https://www.sjdhospitalbarcelona.org/en</a></li>
            </ul>
        </div>
    </div>
{% endblock %}