{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">General information</h3>
        <hr>
        <p>Classification of medulloblastoma into clinically relevant molecular subgroups is crucial to adjust tumour treatment and optimize patient care. Genome-wide DNA methylation profiling enables precise classification of this malignant paediatric brain tumour. However, the implementation of this diagnostic approach in daily clinical practice is challenging for many centres worldwide. We have developed a single cytosine methyl-genotyping PCR-based machine-learning tool that enables rapid, precise and cost-effective classification of medulloblastoma.</p>
        <p><b>Graphical Abstract</b></p>
        <div class="container pb-3" style="text-align: center;">
            <img src="{% static 'img/EpiGe_GraphicalAbstract.png' %}" alt="Graphical Abstract" height="750px">
        </div>
    </div>
{% endblock %}