{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">Data policy</h3>
        <hr>
        <div class="medium-8 columns medium-centered">
            <p class="bigger">This portal is the owner of the <strong>Fundació Sant Joan de Déu</strong> holder of VAT no. ESG62978689, address at Calle Santa Rosa, 30-57, Edifici Docent 3ra Planta, 08950 d'Esplugues de Llobregat, and telephone + 34 936 00 97 51.</p>
            <p>This Privacy Policy (hereinafter, "the Policy") aims to inform you about how we gather, process and protect the personal data that you provide. Likewise, we describe the purposes of processing the personal data received through the website <a href="https://www.irsjd.org">https://www.irsjd.org</a> (hereinafter, "the Website"), or via telephone, text message, email or post. When applicable, it will be explained if the data may be used by third parties. </p>
            <p>In this document, we aim to provide you with the simplest and clearest description possible regarding this Policy. We recommend that you read our Policy and contact us in the event of any queries. </p>
            <p>Our Policy does not regulate the activities of data processing for other companies and organisations that advertise our services and/or products. </p>
            <h3>Scope of the Privacy Policy</h3>
            <p>This Privacy Policy applies to the data provided by our patients and their families, users, suppliers, people seeking information, users of the Website <a href="https://www.irsjd.org">https://www.irsjd.org</a>, job applicants or third parties with whom we can relate and whose data may be required for the development of our activities.</p>
            <p><strong>Who is the Manager responsible for processing your personal data?</strong></p>
            <p>The Manager responsible for processing your data is:</p>
            <p>Fundació Sant Joan de Déu<br>
                National Identity Number (NIF): G-62978689<br>
                Address: Calle Santa Rosa, 30-57, Edifici Docent 3ra Planta, 08950 d'Esplugues de Llobregat, Barcelona<br>
                Tel. No.: + 34 936 00 97 51.<br>
                Email: <a   href="mailto:info@fsjd.org" >info@fsjd.org</a></p>
            <h3>How can you contact the Data Protection Officer?</h3>
            <p>You can contact the Data Protection Officer at Institut de Recerca Sant Joan de Déu via the following email address: <a   href="mailto:dpd@sjdhospitalbarcelona.org" >dpd@sjdhospitalbarcelona.org</a></p>
            <h3>What information do we gather?</h3>
            <p>Institut de Recerca Sant Joan de Déu only processes the personal data that is considered necessary, pertinent and limited to proper compliance with the purposes for which it was initially gathered.</p>
            <p>By way of example, in the event that you request information, we will gather your contact details including, amongst other information, your first and last name, telephone number or email address. Likewise, your IP address, in other words, the number that is automatically assigned to the electronic device that you use to access the Website, and your domain name will be processed for statistical purposes. You may also send us your curriculum vitae to apply for internal selection processes.</p>
            <h3>For what purpose do we process your data?</h3>
            <p>The data that you provide us is processed for the following reasons:</p>
            <ul>
                <li>To respond to your information requests in different fields.</li>
                <li>To send our electronic newsletter or other information of interest to you, whenever you have consented to this. </li>
                <li>To learn about your browser preferences on our Website so we can customise and improve our services and maintain website security. As such, Institut de Recerca Sant Joan de Déu will gather statistics that, through monitoring your IP number, will reveal the number of pages printed, the number of visits made to web services, the order of visits or the point of access, among other figures.</li>
            </ul>
            <h3>For how long do we store your data?</h3>
            <p>If you maintain a medical/health care, professional or commercial relationship with Institut de Recerca Sant Joan de Déu, the data that you have provided for such purposes will be stored as long as said relations last with us and for the years required in order to comply with legal obligations. </p>
            <h3>When are we entitled to process your data?</h3>
            <p>We are entitled and empowered to process the information that you provide us (i) when said information is necessary to send the information requested; (ii) to manage the Website (and its associated services); and (iii) to comply with mandatory legal obligations that derive from European Union Law or that of Member States. </p>
            <p>Institut de Recerca Sant Joan de Déu will adopt the necessary activities to guarantee that the personal data it gathers, stores and processes is used lawfully, fairly and transparently, complying with the obligations that derive from applicable legislation as the result of its activity. In particular, Institut de Recerca Sant Joan de Déu has established all the technical measures in its power to prevent the loss, misuse, alteration, unauthorised access and theft of information that you have provided via the Website.</p>
            <p>Additionally, while you are a user, we will also be entitled to use your data for the purposes of notifying you about offers, promotions, products, services, circulars or campaigns that we consider may be of interest to you, taking into account the services and treatments from which you have previously benefited. In any event, you may object to said processing at any time.</p>
            <p>Irrespective of the above, we will always obtain your consent before processing your data. Your consent will imply that it is freely given, unequivocal, specific and informed. You have the right to withdraw any consent given without retroactive effect for any reason and at any time.</p>
            <h3>To whom do we transfer your data?</h3>
            <p>Your data will be transferred to official public bodies and private entities who, due to legal obligations or operational needs, must access the data for the purposes of the correct provision of medical and health care and the other above-mentioned purposes. </p>
            <p>Irrespective of the above, prior to transferring your personal data to other private entities we will notify you beforehand and request your consent. </p>
            <h3>What rights will they protect in relation to the processing of your data? </h3>
            <p>You have the right to obtain information about the processing of your data that we carry out at Institut de Recerca Sant Joan de Déu. Specifically: </p>
            <ul>
                <li>You have a right to access your personal data to learn which data we are processing, and to request the rectification of any inaccurate data or, where applicable, request its deletion when, among other reasons, the data are no longer required for the purposes for which it was gathered.</li>
                <li>In certain circumstances, you may request the limitation of the processing of your data, in which case we will only keep it to exercise or defend claims.</li>
                <li>In certain circumstances and for reasons that relate to your particular situation, you may oppose the processing of your data. The Institut de Recerca Sant Joan de Déu will stop processing your data, except for compelling legitimate grounds or in accordance with taking action for legal defence purposes.</li>
                <li>You will have the right to portability, in other words, that the personal data you have provided is transferred directly to another data manager in a structured format, for common use and in machine-readable form, whenever technically possible.</li>
                <li>You have the right not to be subjected to a decision based solely on the automated processing of your personal data.</li>
            </ul>
            <p>You can exercise the above-mentioned rights by sending an email to the following email address: <a   href="mailto:info@fsjd.org" >info@fsjd.org</a></p>
            <p>We will answer your requests as soon as possible and, in any event, within a deadline of one (1) month from the receipt of your request. In certain circumstances, said deadline may be extended by another two (2) months, in which case we will notify you in due course within the time period of one (1) month from the receipt of your request.</p>
            <p>If you consider that the processing of your personal data either infringes data protection regulations, or you believe that we have not satisfied the exercising of your rights, you can make a claim before the competent supervisory authority depending on your place of residence. To this effect, you can check the different supervisory authorities on the Spanish Data Protection Agency's Website.</p>
            <p>In any event, please contact us via email (<a   href="mailto:info@fsjd.org" >info@fsjd.org</a>) or visit the Fundació Sant Joan de Déu, address at Calle Santa Rosa, 30-57, Edifici Docent 3ra Planta, 08950 d'Esplugues de Llobregat, prior to submitting any claim so that we can try to resolve any discrepancies amicably.</p>
            <h3>Do you have a right to withdraw your consent? </h3>
            <p>Yes, you may withdraw your consent to the processing of your data at any time for one or any of the purposes indicated above for which you have previously given your consent. You may exercise this right by contacting the User Care Unit:</p>
            <p><strong>Fundació Sant Joan de Déu<br>
                National Identity Number (NIF): G-62978689<br>
                Address: Calle Santa Rosa, 30-57, Edifici Docent 3ra Planta, 08950 d'Esplugues de Llobregat, Barcelona<br>
                Tel. No.: +34 936 00 97 51<br>
                Email: <a   href="mailto:info@fsjd.org" >info@fsjd.org</a></strong></p>
            <h3>Is it possible that this Privacy Policy may be amended?</h3>
            <p>Institut de Recerca Sant Joan de Déu reserves the right to amend this Policy to adapt it to new legislation or relevant case law decisions, and to respond to organisational and health sector changes. We shall neither limit the rights that correspond to you under this Privacy Policy nor make substantial amendments to it without previously notifying you. We will publish all amendments to this Privacy Policy on this page and, if they are significant, we will send a more prominent notification (for example, we will send you a notification via email if the amendment may affect certain aspects and, in exceptional cases, may even request your consent again).</p>
        </div>
    </div>
{% endblock %}