{% extends 'base.html' %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">Thank you for using the EpiGe-App!</h3>
        <hr>
        <div class="alert alert-danger" role="alert">
            <p class="pb-0 mb-0" style="text-align: justify;"><i class="fa-solid fa-triangle-exclamation mr-1"></i> EpiGe-App is a research tool that is intended only for scientific purposes: the EpiGe-App has not been validated clinically and was not designed for diagnostics purpose, nor to replace the services of a licensed, trained physician or health professional, or to substitute for medical advice.</p>
        </div>
        <h6>Your analysis has been assigned the following Job ID:</h6>
        <div class="my-3 text-center">
            <p class="text-justify p-2 border rounded bg-white" id="myInput" style="vertical-align: middle; display: inline-block; margin-bottom: 0;"><strong>{{ job_id }}</strong></p> 
            <button id="btn-copy" type="button" class="btn btn-secondary" onclick="CopyToClipboard('myInput');return false;" data-toggle="tooltip" data-placement="top" title="Copy to Clipboard"><i class="fa-regular fa-copy"></i></button>
        </div>
        <div class="alert alert-primary" role="alert">
            <i class="fa-solid fa-circle-info mr-1"></i>
            <strong>Please keep this code to be able to access the results of the analysis through the search engine.</strong>
        </div>
        <p class="text-justify">In case of any problem, please contact us at the following e-mail address: <a href="mailto:peca@hsjdbcn.es">peca@hsjdbcn.es</a></p>
    </div>

    <!--TODO: Describir la funcion de javascript-->
    <script>
        function CopyToClipboard(id) {
          var r = document.createRange();
          r.selectNode(document.getElementById(id));
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(r);
          document.execCommand('copy');
          window.getSelection().removeAllRanges();
          // Alert the copied text
          //alert("Copied the text: " + r);
        }
    </script>

{% endblock %}