{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">Upload data</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="card mb-3">
                    <h4 class="card-header">Requirements and conditions</h4>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-3 text-muted">To proceed with the analysis you must <b>accept</b> the following conditions:</h6>
                        <div class="row">
                            <div class="col-md-12">
                                {{ form.diagnosis|as_crispy_field  }}
                            </div>
                            <div class="col-md-12">
                                {{ form.cell_content|as_crispy_field  }}
                            </div>
                            <div class="col-md-12">
                                {{ form.only_one|as_crispy_field  }}
                            </div>
                            <div class="col-md-12">
                                {{ form.instruments|as_crispy_field  }}
                            </div>
                            <div class="col-md-12">
                                {{ form.cpg_names|as_crispy_field  }}
                            </div>
                            <div class="col-md-12">
                                {{ form.confirmation|as_crispy_field  }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <h4 class="card-header">Sample data</h4>
                    <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    {{ form.sample_identifier|as_crispy_field }}
                                </div>
                                <div class="col-md-6 mb-3">
                                    {{ form.file|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form.send_mail|as_crispy_field }}
                                </div>
                                <div class="col-md-6">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                    </div>
                </div>
                <div class="alert alert-danger" role="alert">
                    <p class="pb-0 mb-0" style="text-align: justify;"><i class="fa-solid fa-triangle-exclamation mr-1"></i> EpiGe-App is a research tool that is intended only for scientific purposes: the EpiGe-App has not been validated clinically and was not designed for diagnostics purpose, nor to replace the services of a licensed, trained physician or health professional, or to substitute for medical advice.</p>
                </div>
                <div class="alert alert-primary" role="alert">
                    <p class="pb-0 mb-0" style="text-align: justify;"><i class="fa-solid fa-clock mr-1"></i> The analysis will be perfomed according to the queue of samples. The waiting time if the queue is empty is approximately 1 minute.</p>
                </div>
                <button class="btn btn-success btn-lg btn-block mb-3" type="submit"><i class="fa-solid fa-cloud-arrow-up mr-1"></i> UPLOAD TO SERVER</button>
        </form>

    </div>
{% endblock %}
