{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-12">
        <h3 class="mb-3">Upload Data</h3>
        {% if data_register %}
        <div class="row">
            <p class="text-justify mx-3">Thank you for registering on the platform for the Sant Joan de Déu Hospital COVID-19 research. Please check if your data is correct. If not, please contac
                <a href="mailto:dpd@sjdhospitalbarcelona.org?Subject=Dades%20errònies%20en%20el%20registre%20KidsCorona.">dpd@sjdhospitalbarcelona.org</a></p>
        </div>
        {% else %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-6 mb-3">
                {{ register_form.file|as_crispy_field  }}
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
{% endblock %}